.card-content a img {
  width: 160px;
}
.card-description img {
  width: 100px;
  height: 33px;
}
.mat-slider-horizontal {
  width: 80%;
}
.mat-slider-class {
  opacity: 26%;
  margin: 10px;
  color: red;
  line-height: 1.5;
  font-size: 500;
}
