			<footer class="footer">
					<div class="container-fluid">
							<nav class="pull-left">
									<ul>
											<li>
													<a routerLink="/">
															The Dime Dashboard
													</a>
											</li>
											<li>
												<span id="siteseal"><script async type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=5ZRjJW2LGonAFsWfE1n36UQaWGsHFWdCxhbC5G8ADXP8UiTPp0M7PZzy3fuj"></script></span>
											</li>
									</ul>
							</nav>
					</div>
			</footer>
