.fund-weight-radio-group {
  display: inline-flex;
  flex-direction: column;
}

.fund-weight-radio-button {
  margin: 5px;
}
.fund-weight-controls {
  vertical-align: top;
  width: 20%;
}
.fund-weight-chart {
  vertical-align: top;
  width: 75%;
}
