

<div class="main-panel">
  <app-topmaincontent></app-topmaincontent>
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="card ">
            <div class="card-header" data-background-color="green">
                <h4 class="title">Allocate Weights</h4>
                <p class="category">Weight Your Fund</p>
            </div>
            <div class="card-content">
              <app-fund-weight-chart [currencies]="fundBasket"></app-fund-weight-chart>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
