<div class="main-panel">
  <app-topmaincontent></app-topmaincontent>
    <div class="content">
      <div class="container-fluid">
        <div class="row">
              <div class="col-lg-12 col-md-12">
                  <div class="card card-nav-tabs">
                    <div class="card-header" data-background-color="green">
                        <h4 class="title">Transaction History</h4>
                        <p class="category">Most recent transactions</p>
                    </div>
                      <div class="card-content"></div>
              </div>
        </div>
      </div>
    </div>
  </div>
</div>
