<div class="main-panel">
  <app-topmaincontent></app-topmaincontent>
    <div class="content">
      <div class="container-fluid">
        <div class="row">
              <div class="col-12">
                  <div class="card card-nav-tabs">
                    <div class="card-header" data-background-color="green">
                        <h4 class="title">Transaction History</h4>
                        <p class="category">Most recent transactions</p>
                    </div>
                      <div class="card-content table-responsive">
                          <table class="table table-hover">
                              <thead class="text-warning">
                                  <th>Date</th>
                                  <th>Amount</th>
                                  <th>Method</th>
                                  <th>Status</th>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let history of historyChart">
                                      <td>{{history.inserted | date:'yyyy-MM-dd'}}</td>
                                      <td>{{history.amount | currency: 'USD': "symbol": '1.2-2'}}</td>
                                      <td>{{history.transactionMethod}}</td>
                                      <td>{{history.status}}</td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
              </div>
        </div>
      </div>
    </div>
  </div>
</div>
