

<div class="main-panel">
  <app-topmaincontent></app-topmaincontent>
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="card ">
            <div class="card-header" data-background-color="green">
                <h4 class="title">Deposit</h4>
                <p class="category">Fund your account</p>
            </div>
            <div class="card-content">
              <p>Slide the ball to adjust the price.</p>
              {{ min | currency:'USD':'symbol':'2.0' }}<mat-slider
                 class="mat-slider-class"
                 #slidey
                 color="accent"
                 [invert]="invert"
                 [max]="max"
                 [min]="min"
                 [thumbLabel]="thumbLabel"
                 [step]="step"
                 [displayValue]="displayValue"
                 [tick-interval]="tickInterval"
                 [(ngModel)]="value"
                 (input)="pitch($event)"
                 [horzontal]="horizontal">
              </mat-slider>{{ max | currency:'USD':'symbol':'2.0' }}
              <form [formGroup]="investingRiskForm" name="investingRiskForm" #formDir="ngForm" (ngSubmit)="submitInvestingRiskForm(investingRiskForm)">
                <span><h6>
                  <mat-checkbox
                    type="checkbox"
                    formControlName="investCheckbox"
                    class="example-margin">
                  </mat-checkbox> I am Investing {{ value | currency: 'USD': 'symbol': '2.0' }}<div *ngIf="formDir.submitted && !investingRiskForm.get('investCheckbox').value" class="help-block">Acknowledgement is required</div></h6>
                </span>
                <span><h6>
                  <mat-checkbox
                    type="checkbox"
                    formControlName="risksCheckbox"
                    class="example-margin">
                  </mat-checkbox><a href="http://www.finra.org/investors/reality-investment-risk" target="_blank"> I understand the risks, click to read.</a><div *ngIf="formDir.submitted && !investingRiskForm.get('risksCheckbox').value" class="help-block">Acknowledgement is required</div></h6>
                </span>
                <span><h6>
                  <mat-checkbox
                    type="checkbox"
                    formControlName="noGuaranteesCheckbox"
                    class="example-margin ">
                  </mat-checkbox> I understand what I am doing.<div *ngIf="formDir.submitted && !investingRiskForm.get('noGuaranteesCheckbox').value" class="help-block">Acknowledgement is required</div></h6>
                </span>
                <span class="text-center"><button type="submit" class="btn btn-success">I Want to Invest Now</button></span>
              </form>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
