
<div class="main-panel">
  <app-topmaincontent></app-topmaincontent>
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="card ">
            <div class="card-header" data-background-color="green">
                <h4 class="title">Deposit</h4>
                <p class="category">Fund your account</p>
              </div>
              <div class="card-content">
              <mat-tab-group class="demo-tab-group">
                <mat-tab label="Paypal" class="demo-tab-label">
                  <div class="demo-tab-content">
                    Paypal
                  </div>
                </mat-tab>
                <mat-tab label="Venmo">
                  <div class="demo-tab-content">
                    venmo
                  </div>
                </mat-tab>
                <mat-tab label="Visa/MC">
                  <div class="demo-tab-content">
                    Visa
                  </div>
                </mat-tab>
                <mat-tab label="Bitcoin">
                  <div class="demo-tab-content">
                    <div>
                      <a class="buy-with-crypto"
                         href="https://commerce.coinbase.com/checkout/bcbc0ce3-984d-4be6-bd71-7c9e64a4df51">
                        <span>Buy with Crypto</span>
                      </a>
                      <script src="https://commerce.coinbase.com/v1/checkout.js">
                      </script>
                    </div>
                  </div>
                </mat-tab>
                <mat-tab label="Ether">
                  <div class="demo-tab-content">
                    Ether
                  </div>
                </mat-tab>
                <mat-tab label="Alt Coins">
                  <div class="demo-tab-content">
                    Alt coins
                  </div>
                </mat-tab>
              </mat-tab-group>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
