
.demo-tab-group {
  border: 1px solid #000000;
  color: red !important;
}

.demo-tab-content {
  padding: 16px;
  color: red !important;
}


.mat-tab-label, .mat-tab-link {
  color: red !important;
}

.mat-tab-link {
  color: red !important;
}

.mat-tab-label {
  color: red !important;
}

.demo-tab-label {
  color: white;
  background-color: green;
  data-background-color: green;
}

.example-h2 {
  margin: 10px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 10px;
}

.mat-slider-horizontal {
  width: 600px;
}

.mat-slider-vertical {
  height: 300px;
}
