
<div class="main-panel">
  <app-topmaincontent></app-topmaincontent>
     <div class="content">
         <div class="container">
             <div class="row">
                 <div class="col-md-12">
                     <div class="card">
                         <div class="card-header" data-background-color="green">
                             <h4 class="title">Edit Profile</h4>
                             <p class="category">Complete your profile</p>
                         </div>
                         <div class="card-content">
                             <form [formGroup]="userProfileForm" name="userProfileForm" (ngSubmit)="updateUserProfile(userProfileForm)">
                                 <div class="row">

                                     <div class="col-md-4">
                                         <div class="form-group">
                                             <mat-form-field>
                                                 <mat-label>Company</mat-label>
                                             <input matInput type="text" class="form-control" formControlName="company">
                                            </mat-form-field>
                                         </div>
                                     </div>

                                     <div class="col-md-4">
                                         <div class="form-group">
                                             <mat-form-field>
                                                 <mat-label>Email</mat-label>
                                             <input matInput type="text" class="form-control" formControlName="email">
                                            </mat-form-field>
                                         </div>
                                     </div>

                                     <div class="col-md-4">
                                          <img src={{userProfileForm.controls.avatar.value}}/>
                                     </div>

                                 </div>
                                 <div class="row">
                                   <div class="col-md-4">
                                     <div class="form-group">
                                        <mat-form-field>
                                          <mat-label>First Name</mat-label>
                                          <input matInput type="text" class="form-control"  formControlName="firstName" >
                                       </mat-form-field>
                                     </div>
                                   </div>
                                   <div class="col-md-4">
                                     <div class="form-group">
                                        <mat-form-field>
                                          <mat-label>Last Name</mat-label>
                                          <input matInput type="text" class="form-control" formControlName="lastName" >
                                       </mat-form-field>
                                     </div>
                                   </div>

                                   <div class="col-md-4">
                                     <div class="form-group">
                                        <mat-form-field>
                                          <mat-label>Phone</mat-label>
                                          <input matInput type="text" class="form-control" formControlName="phoneNumber" >
                                       </mat-form-field>
                                     </div>
                                   </div>

                                 </div>
                                 <div class="row">
                                     <div class="col-md-12">
                                       <div class="form-group">
                                          <mat-form-field>
                                            <mat-label>Address</mat-label>
                                            <input matInput type="text" class="form-control" formControlName="address1" >
                                         </mat-form-field>
                                       </div>
                                     </div>
                                 </div>
                                 <div class="row">
                                       <div class="col-md-3">
                                         <div class="form-group">
                                            <mat-form-field>
                                              <mat-label class="control-label">City</mat-label>
                                              <mat-select formControlName="city" class="form-control"  [(ngModel)]="selectedCity.name">
                                                  <mat-option *ngFor="let city of cities" [value]="city">
                                                    {{city.name}}
                                                  </mat-option>
                                                </mat-select>
                                           </mat-form-field>
                                         </div>
                                       </div>

                                       <div class="col-md-3">
                                          <div class="form-group">
                                             <mat-form-field>
                                               <mat-label>State</mat-label>
                                                   <mat-select formControlName="state" class="form-control" [(ngModel)]="selectedState.name">
                                                     <mat-option *ngFor="let state of states" [value]="state">
                                                       {{state.name}}
                                                     </mat-option>
                                                   </mat-select>
                                               </mat-form-field>
                                           </div>
                                        </div>

                                        <div class="col-md-3">
                                           <div class="form-group">
                                             <mat-form-field>
                                               <mat-label>Country</mat-label>
                                                   <mat-select formControlName="country" class="form-control" [(ngModel)]="selectedCountry" >
                                                     <mat-option *ngFor="let country of countries" [value]="country">
                                                       {{country.name}}
                                                     </mat-option>
                                                   </mat-select>
                                               </mat-form-field>
                                           </div>
                                        </div>

                                       <div class="col-md-3">
                                         <div class="form-group">
                                            <mat-form-field>
                                              <mat-label>Postal Code</mat-label>
                                              <input matInput type="text" class="form-control"  formControlName="zipcode" >
                                           </mat-form-field>
                                         </div>
                                       </div>
                                 </div>
                                 <div class="row">
                                     <div class="col-md-12">
                                         <div class="form-group">
                                           <mat-form-field>
                                             <mat-label>About Me</mat-label>
                                             <input matInput type="text" class="form-control" formControlName="about" >
                                          </mat-form-field>
                                         </div>
                                     </div>
                                 </div>

                                 <button type="submit" class="btn btn-primary pull-right">Update Profile</button>
                                 <div class="clearfix"></div>
                             </form>
                         </div>
                     </div>
                 </div>

             </div>
         </div>
     </div>
