
<div class="main-panel">
  <app-topmaincontent></app-topmaincontent>
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-sm-10">
          <div class="card">
            <div class="card-header" data-background-color="green">
                <h4 class="title">Preview Fund</h4>
                <p class="category"></p>
            </div>
            <div class="card-content">
              <div class="row">
                <div class="col-sm-12">
                  <app-fund-line-chart [fundlinechartdata]="fundLineChart"></app-fund-line-chart>
                </div>
              </div>
              <div class="row"><div class="col-sm-12"><hr></div></div>
              <div class="row">
                <div class="col-sm-2 fund-weight-controls">
                  <button mat-button (click)="back()">Modify Fund</button>
                </div>
                <div class="col-sm-8"></div>
                <div class="col-sm-2 fund-weight-controls">
                  <button mat-button (click)="createFund()">Create Fund</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
