<div class="sidebar-wrapper">
    <ul class="nav">
      <li>
        <a routerLink="/">
            <i class="material-icons">dashboard</i>
            <p>Dashboard</p>
        </a>
      </li>
      <li>
        <a routerLink="/profile">
            <i class="material-icons">person</i>
            <p>Profile</p>
        </a>
      </li>
      <li>
        <a routerLink="/currency">
            <i class="material-icons">person</i>
            <p>Create Fund</p>
        </a>
      </li>
      <li>
        <a routerLink="/myfunds">
            <i class="material-icons">person</i>
            <p>My Funds</p>
        </a>
      </li>
      <li>
        <a routerLink="/funds">
            <i class="material-icons">person</i>
            <p>All Funds</p>
        </a>
      </li>
      <li>
        <a routerLink="/funds">
            <i class="material-icons">person</i>
            <p>Deposit</p>
        </a>
      </li>
      <li>
        <a routerLink="/withdraw">
            <i class="material-icons">person</i>
            <p>Withdraw</p>
        </a>
      </li>
      <li>
          <a routerLink="/documents">
              <i class="material-icons">file_upload</i>
              <p>Documents</p>
          </a>
      </li>
      <li>
          <a routerLink="/history">
              <i class="material-icons">content_paste</i>
              <p>History</p>
          </a>
      </li>
    </ul>
</div>
