<div class="sidebar-wrapper">
    <ul class="nav">
      <li >
        <a routerLink="/">
            <i class="material-icons">dashboard</i>
            <p>Dashboard</p>
        </a>
      </li>
      <li>
          <a routerLink="/profile">
              <i class="material-icons">person</i>
              <p>Profile</p>
          </a>
      </li>
      <li>
          <a routerLink="/history">
              <i class="material-icons">content_paste</i>
              <p>History</p>
          </a>
      </li>
    </ul>
</div>
