
        <div class="main-panel">
          <app-topmaincontent></app-topmaincontent>
            <div class="content">
                <div class="container-fluid">

                    <div class="row">
                        <div class="col-sm-3">
                            <div class="card card-stats">
                                <div class="card-header" data-background-color="green">
                                    <i class="material-icons">euro_symbol</i>
                                </div>
                                <div class="card-content">
                                    <p class="category">Dime Owned</p>
                                    <h3 class="title">4
                                        <small>dme</small>
                                    </h3>
                                </div>
                                <div class="card-footer">
                                    <div class="stats">
                                        <i class="material-icons text-success">success</i>
                                        <a href="#">More..</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="card card-stats">
                                <div class="card-header" data-background-color="green">
                                    <i class="material-icons">trending_up</i>
                                </div>
                                <div class="card-content">
                                    <p class="category">ROI</p>
                                    <h3 class="title">4.5%</h3>
                                </div>
                                <div class="card-footer">
                                    <div class="stats">
                                        <i class="material-icons">date_range</i> Last 24 Hours
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="card card-stats">
                                <div class="card-header" data-background-color="green">
                                    <i class="material-icons">trending_up</i>
                                </div>
                                <div class="card-content">
                                    <p class="category">ROI</p>
                                    <h3 class="title">75%</h3>
                                </div>
                                <div class="card-footer">
                                    <div class="stats">
                                        <i class="material-icons">date_range</i>YTD
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="card card-stats">
                                <div class="card-header" data-background-color="green">
                                    <i class="fa fa-twitter"></i>
                                </div>
                                <div class="card-content">
                                    <p class="category">Invested</p>
                                    <h3 class="title">$245.00</h3>
                                </div>
                                <div class="card-footer">
                                    <div class="stats">
                                        <i class="material-icons">date_range</i> Today
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">

                            <table width="100%">
                                <tr width="100%" id="menu" class="rowofcoins">
                                  <td width="10%" *ngFor="let coin of coins" class="onecoin {{coin.name}}">
                                  </td>
                                </tr>
                                <tr width="100%" id="menu" class="rowofcoins">
                                  <td width="10%" *ngFor="let coin of coins" class="cointext">
                                    {{coin.value/100.0 | percent: '1.1' }}
                                  </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                        <app-dimetable></app-dimetable>
                        </div>
                    </div>
                </div>
            </div>
        </div>
