<div class="main-panel">
  <app-topmaincontent></app-topmaincontent>
    <div class="content">
      <div class="container">
        <div class="row">
              <div class="col-sm-12">
                  <div class="card">
                    <div class="card-header" data-background-color="green">
                        <h4 class="title">Documents</h4>
                        <p class="category">Complete your Verification</p>
                    </div>
                      <div class="card-content">

                        <div class="container">
                                <div class="row">
                                  <form [formGroup]="documentForm" name="documentForm" (ngSubmit)="documentUpload(documentForm)">
                                    <div class="col-sm-3">

                                        <label for="singleFile" class="btn btn-info">Select a Document</label>
                                        <input
                                            id="singleFile"
                                            name="singleFile"
                                            #singleFile
                                            type="file"
                                            formControlName="fileObject"
                                            style="display: none;"
                                            onchange="file_path_display.innerHTML=singleFile.value;"
                                            (change)="handleFileSelect($event.target.files);"/>
                                        <div id="file_path_display"></div>

                                    </div>

                                    <div class="col-sm-3">

                                      <mat-form-field>
                                        <mat-select placeholder="Select Document Type" formControlName="fileType">
                                          <mat-option value="0" selected disabled>Select</mat-option>
                                          <mat-option *ngFor="let documentType of documentTypes" [value]="documentType.id">
                                            {{ documentType.type }}
                                          </mat-option>
                                        </mat-select>
                                      </mat-form-field>

                                    </div>

                                    <div class="col-sm-3">
                                      <alert></alert>
                                    </div>
                                    <div class="col-sm-3">
                                      <button class=" btn btn-info">Upload</button>
                                    </div>

                                  </form>

                                </div>
<hr>


                                  <div class="row" *ngFor="let document of documents">
                                      <div class="text-left col-sm-3"><a href="{{document.document}}" target="_blank" rel="tooltip" title="View">{{document.type.type}}</a></div>
                                      <div class="text-left col-sm-3">
                                          {{document.status.status}}
                                      </div>
                                      <div class="text-left col-sm-3">
                                      </div>
                                      <div class="col-sm-3">
                                          <button type="button" (click)="documentDelete(document.id)" rel="tooltip" id={{document.id}} title="Delete" class="btn btn-danger btn-simple btn-xs">
                                              <i class="material-icons">delete</i>
                                          </button>
                                      </div>
                                    </div>


                        </div>
                      </div>
                  </div>
                </div>
          </div>
      </div>
    </div>
</div>
